body{
   background-color: rgb(195, 183, 183);
   /* background-image: url('/img/huellitas.png'); */
    background-position: center;
  }

  .sombra-filas {
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(18, 18, 18, 0.3);

    }



.sombra-encabezados{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.22);
}

.sombra-contenedor{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.22);
}

/* .sombra-adentro{
    box-shadow: inset 1px 2px 3px 3px rgba(0, 0, 0, 0.5); /* Sombra hacia dentro */ 


#mapContainer {
        width: 100%;
        height: 100%;
      }

.flotante{
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 3;
    
}